
:root {
    --primary-color: orange;  /*màu chủ đạo của web*/
    --primary-color-rgba: rgba(255, 166, 0, 0.842);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
}

.main {


}

/* header */

.header {

}

.header__nav {
    justify-content: space-between;
}

.header__logo {

}

.header__logo--img {
    width: 80px;
}

.header__search {
    display: flex;
    align-items: center;
}

.header__search--wrap {

}

.header__search--btn {
    width: 600px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    outline: none;
    padding: 0 4px;
    font-size: 16px;
}

.header__account {
    display: flex;
    align-items: center;
}

.header__account--link {
    margin-left: 10px;
    text-decoration: none;
    padding: 6px;
    background-color: #74c0fc;
    border-radius: 6px;
    color: #fff;
    box-shadow: 1px 1px 3px #999;
}

.header__account--link:hover {
    background-color: #2b93e5;
}

.header__account--btn {

}

.header__menu {
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
}

.header__menu--list {
    list-style: none;
    justify-content:flex-start;
}

.header__menu--item {
    position: relative;
}

.header__menu--item__link {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    line-height: 50px;
    cursor: pointer;
    padding: 0 20px;
}

.header__menu--item__link:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.header__menu--subnav {
    position: absolute;
    list-style: none;
    top: 50px;
    /* left: 10px; */
    display: none;
    z-index: 1;
    background-color: #fff;
}

.menu--subnav__item {
    
}

.header__menu--item:hover .header__menu--subnav {
    display: block;
}

.menu--subnav__item--link {
    text-decoration: none;
    color: rgb(248, 194, 94);
    display: block;
    padding: 10px 4px;
    font-size: 14px;
}

.menu--subnav__item--link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}


/* pagination */
.container__pagination {

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.home-pagination {
    margin: 48px 0 30px;
}

.pagination-item {
    list-style: none;
}

.pagination-item-active .pagination-item__link {
    background-color: rgb(248, 182, 58);
    color: #fff;
}

.pagination-item-active .pagination-item__link:hover {
    background-color: var(--primary-color);
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    min-width: 38px;
    text-align: center;
    margin: 0 8px;
    border-radius: 2px;
    line-height: var(--height);
    height: var(--height);
    color: var(--primary-color);
}   






/* footer */

.footer__content {
    border-top: 2px solid var(--primary-color);
    margin: 30px 0;
    justify-content: space-between;
}

.footer__app {

}

.footer__app--logo {
    margin-top: 30px;
}

.img__footer--logo {
    width: 100px;
}   

.footer__app--download {

}

.img__footer--download {
    width: 100px;
}

.footer__about {
    margin-top: 30px;
}

.footer__about--description {

}

.about__description--text {
    font-size: 14px;
    line-height: 1.5;
    text-align: justify;
}

.footer__about--contact {
    margin: 10px 0;
}

.about__contact--mail {

}